.FAQ_container {
    width: 1170px;
    height: max-content;
    margin: 0 auto;
    padding: 100px 0;

    .title {
        text-align: left;
    }

    .FAQ_contents {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        gap: 30px;
        

            .FAQ_content, .active_item {
                height: 72px;
                padding: 22.5px 19px;
                border: solid 1px #ccd0d4;
                overflow-y: hidden;
                color: #707070;
                transition: all 0.3s ease;
                cursor: pointer;

                .top {
                    width: 100%;
                    display: flex;
                    gap: 5px;
                    
                    div {
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 18px;
                    }

                    span {
                        font-weight: bolder;
                    }
                }

                p {
                    margin-top: 50px;
                }
            }

            .active_item {
                min-height: max-content;
                height: 188px !important;
            }
    }
}

@media screen and (max-width : 800px){
    .FAQ_container, .FAQ_contents {
        flex-direction: column;
        gap: 0 !important;
    }
}

@media screen and (max-width : 1200px){
    .FAQ_container {
        width: 100%;
        padding: 100px 20px;
    }
}